<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaeehttp://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <display-name>Web Component App</display-name>
    <servlet>
        <servlet-name>ProcessBankOperation</servlet-name>
        <servlet-class>ProcessBankOperationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessStudent</servlet-name>
        <servlet-class>ProcessStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchStudentList</servlet-name>
        <servlet-class>FetchStudentListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadStudentByNume</servlet-name>
        <servlet-class>ReadStudentByNumeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudent</servlet-name>
        <servlet-class>UpdateStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessNumbers</servlet-name>
        <servlet-class>ProcessNumbersServlet</servlet-class>
        <async-supported>true</async-supported>

    </servlet>
    <servlet>
        <servlet-name>ProcessInterval</servlet-name>
        <servlet-class>ProcessIntervalServlet</servlet-class>

    </servlet>
    <servlet>
        <servlet-name>Monitorizare</servlet-name>
        <servlet-class>MonitorizareServlet</servlet-class>
        <async-supported>true</async-supported>

    </servlet>


    <servlet-mapping>
        <servlet-name>ProcessBankOperation</servlet-name>
        <url-pattern>/process-bank-operation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessStudent</servlet-name>
        <url-pattern>/process-student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchStudentList</servlet-name>
        <url-pattern>/fetch-student-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadStudentByNume</servlet-name>
        <url-pattern>/read-by-nume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudent</servlet-name>
        <url-pattern>/update-student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/delete-student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessNumbers</servlet-name>
        <url-pattern>/process-numbers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessInterval</servlet-name>
        <url-pattern>/process-interval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Monitorizare</servlet-name>
        <url-pattern>/monitorizare</url-pattern>
    </servlet-mapping>
</web-app>